#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
}

.play-area {
  background: rgb(23, 9, 4);
  inset: 0;
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none !important;
  -webkit-touch-callout: none !important;
}

.circle {
  --bgColor: white;

  background: var(--bgColor);
  width: 8rem;
  height: 8rem;
  position: absolute;
  translate: -50% -50%;
  user-select: none;
  touch-action: none;
  -webkit-user-select: none !important;
  -webkit-touch-callout: none !important;
}

.count {
  font-size: 8rem;
}

.text {
  position: absolute;
  z-index: 99;
  text-shadow: white 0 0 10px;
  user-select: none;
  cursor: none;
  color: white;
  -webkit-user-select: none !important;
  -webkit-touch-callout: none !important;
}

/* .winner {
  animation: pulsate 1s infinite ease-in-out alternate;
} */

.neon {
  --bgColor: white;
  box-shadow: 0 0 0.1rem #fff, 0 0 0.3rem #fff, 0 0 0.7rem #fff,
    0.3rem 0.3rem 2rem var(--bgColor), 0rem -0.3rem 2rem #fff;
}

@keyframes pulsate {
  0% {
    width: 8rem;
    height: 8rem;
  }

  100% {
    width: 10rem;
    height: 10rem;
  }
}
